
.header_Sec{
position: absolute;
left: 0;
right: 0;
/* width: 100%; */
margin: 0 auto;
max-width: 1280px;
padding: 15px;
}
.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.Header_btns {
    display: flex;
    gap: 50px;
    /* width: 100%; */
    justify-content: end;
    flex: 1;
}
.Header_btns button{
    font-size: 17px;
    line-height: 25.5px;
    font-family: poppins;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
    transition: .5s all;
    cursor: pointer;
}
.Header_btns button:first-child{
    color:#FFFFFF;
    padding: 10px 15px;
    min-height: 52px;
    background-color: transparent;
}
.Header_btns button:first-child:hover{
    color:#181717;
    background: #FFFFFF;
}
.Header_btns button:last-child{
    color:#181717;
    background: #FFFFFF;
    width: 100%;
    max-width: 127px;
    min-height: 52px;
    padding: 10px 15px;
}
.Header_btns button:last-child:hover{
    color:#FFFFFF;
    background:transparent;
}



/* Responsive */
@media (max-width:767px){
    .Header_btns button {
        cursor: pointer;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        border-radius: 4px;
    }
    .Header_btns button:first-child {
        color: #FFFFFF;
        padding: 10px;
        min-height: 32px;
        background-color: transparent;
    }
    .Header_btns button:last-child {
        max-width: 68px;
        min-height: 32px;
        padding: 10px;
    }
    .Header_btns {
        gap: 10px;
    }
    .Web_logo {
        max-width: 80px;
        width: 100%;
    }
    
    .Web_logo img {
        width: 100%;
    }
}
@media (max-width:380px){
    .Header_btns button {
        font-size: 10px;
    }
    .Web_logo {
        max-width: 50px;
        width: 100%;
    }
}